#container {
  height: 300px;
}

#container > div {
  border: 1px solid black;
  background-color: greenyellow;
  float: left;
  height: 300px;
  width: 30%;
}

#container > div:nth-child(2) {
  margin: 0px 10px;
}
