div {
  width: 300px;
  height: 300px;
}

div:nth-child(1) {
  background-color: salmon;
  border: 30px solid black;
  box-sizing: border-box;
  padding: 0px 10px;
}

div:nth-child(2) {
  background-color: blueviolet;
  margin: 100px 30px;
}
