/* Mobile */
/* 0px - 480px */
h1 {
  color: green;
}

/* Tablet */
/* 481px - 768px */
@media (min-width: 481px) {
  h1 {
    color: blue;
  }
}

/* Desktop */
/* 769px - dst */
@media (min-width: 769px) {
  h1 {
    color: purple;
  }
}
